#PBS -l walltime=168:00:00
#PBS -o orca.out
#PBS -e orca.err
#PBS -l nodes=1:ppn=20
#PBS -l mem=64000mb
#PBS -N ORCA-PP

CWD=$PBS_O_WORKDIR

#Create scratch dir
SCR=/scratch
SCRORCA=/scratch/orca.$USER.$PBS_JOBNAME.$$
mkdir -p $SCRORCA

#Copy the orca.inp in the scratch
cp -f $CWD/orca.inp $SCRORCA

cd $SCRORCA
hostname
pwd

module add orca/4.0.1.2
EXE=$(which orca)
echo "EXE=$EXE"
$EXE ./orca.inp

#Copy the orca.out to the workdir
cp -f orca.out $CWD

#Remove scratch
rm -rf $SCRORCA
done

exit
